input {
  font-family: Lato-Bold;
  background-color:#F5F5F5;
  width: 100%;
  margin-bottom:20px;
  font-size: 35px;
}

.cursor-pointer {
	cursor: pointer;
}

.remove-glow {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.crop-container {
  max-width: 100%;
  margin: 20px auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
