/* body{margin:2em;}
h2 {margin:1em 0;}

/*
.collapse-accordion a[data-toggle=collapse] {display: block;padding:.75rem 1.25rem;}

.collapse-accordion .card a[data-toggle=collapse] {display: block;padding:.75rem 1.25rem;}
.collapse-accordion .card-header {padding:0;} */

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

h3 {
	font-weight: 800;
	font-size: 22px;
	margin-bottom: 0;
}

.user-card {
	padding: 0;
	border: 1px solid lightGray;
}

.img-circle {
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin-left: 15px;
	margin-bottom: 5px;
}

.user-card-text {
	margin-top: 50px;
	padding-left: 10px;
}

.card-under-name-text {
	color: rgba(138, 139, 139, 1);
	font-weight: 500;
}

.thumbnail > img {
	margin: 0;
}

.card-image-top {
	display: block;
	width: 100%;
}

.caption {
	padding: 0;
}

.list-group-item {
	border: none;
	color: black;
}


.list-group-item:hover {
	background: lightGray;
}