@import url(https://fonts.googleapis.com/css?family=Montserrat:200i,300,500,700);
 body{margin:2em;}
h2 {margin:1em 0;}


.collapse-accordion a[data-toggle=collapse] {display: block;padding:.75rem 1.25rem;}


.collapse-accordion .card a[data-toggle=collapse] {display: block;padding:.75rem 1.25rem;}
.collapse-accordion .card-header {padding:0;} 

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

h3 {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 0;
	font-family: Montserrat, sans-serif;
	color:#000000;
	letter-spacing:0;
	text-align:left;
}

h6 {
	font-weight: 500;
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	color:#000000;
	letter-spacing:0;
	text-align:left;
	margin-bottom: 0;
	margin-top: 30px; 
}

.card {
	border-left: 1px solid darkgrey;
	border-right: 1px solid darkgrey;
	border-radius: 0;
}

.content-header {
	border-top: 1px solid darkgrey;;
	border-bottom: 1px solid darkgrey;
	padding: 20px;
	padding-left: 30px;
	padding-bottom: 0;
}

.under-header-text {
	margin-top: 2px;
	color: rgba(138, 139, 139, 1);
	font-weight: 500;
	font-style: italic;
}

.logo {
	width: 160.325px;
	height: 160.325px;
}

.line-clamp-wrapper {
	height: 57px;
 	overflow: hidden;
}

.line-clamp {
	width: 450px;
	line-height: 15px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.club-description {
	font-weight: 300;
	font-size: 12px;
	font-family: Montserrat, sans-serif;
	color:#000000;
	letter-spacing:0;
	text-align:left;
}

.tags {
	font-weight: 200;
	font-style: italic;
	font-size:12px;
	font-family: Montserrat, sans-serif;
	color:#83868a;
	letter-spacing:0;
	margin: 0;
	text-align:left;
	letter-spacing:0;
}

#bottom_margin_2 {
	margin-bottom: 2px;
}