<div class="container-fluid" style="background-color:white">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8" style="margin-bottom:100px">
      <img src="{{article.cover_url}}" class="article-cover" *ngIf="article.cover_url">
      <span class="article-title mt-4">{{article.title}}</span>
      <br><br>
      <div class="article-body" [innerHTML]="article.body">
      </div>
      <div class="row justify-content-center">
      	<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      		<br>
      		<div class="like-box" style="cursor:pointer" routerLink="/login" *ngIf="!authService.userSignedIn$">
	      		<img src="assets/img/icons/Like.svg" class="heart">
	      		<div class="d-flex flex-column">
	      			<span *ngIf="article.total_votes != 1">This article has {{article.total_votes}} likes</span>
	      			<span *ngIf="article.total_votes == 1">This article has 1 like</span>
	      			<span>Sign in to upvote it too!</span>
	      		</div>
      		</div>
      		<div class="like-box" style="cursor:pointer" (click)="like()" *ngIf="authService.userSignedIn$ && !didUserUpvote()">
	      		<img src="assets/img/icons/Like.svg" class="heart">
	      		<div class="d-flex flex-column">
	      			<span *ngIf="article.total_votes != 1">This article has {{article.total_votes}} likes</span>
	      			<span *ngIf="article.total_votes == 1">This article has 1 like</span>
	      			<span>Like this article to give the author your support</span>
	      		</div>
      		</div>
      		<div class="like-box" style="cursor:pointer" (click)="like()" *ngIf="didUserUpvote()">
	      		<img src="assets/img/icons/Filled-Like.svg" class="heart">
      			<span class="like-text mt-2" style="color:red">{{article.total_votes}}</span>
      		</div>
      		<br>
		      <div class="card mt-1" *ngIf="!isCommentActive && authService.userSignedIn$" (click)="toggleCommentActive()" style="cursor:pointer">
		      	<div class="card-body d-flex flex-row">
		      		<img [src]="authService.currentUser.image" *ngIf="authService.currentUser.image != null" class="avatar mr-3">
		      		<img src="assets/img/Blank Avatar.jpg" *ngIf="authService.currentUser.image == null" class="avatar mr-3">
		      		<span class="comment-placeholder mt-3">Join the discussion</span>
		      	</div>
		      </div>
		      <div class="card mt-1 px-3" *ngIf="isCommentActive && authService.userSignedIn$">
		      	<div class="d-flex flex-row mt-3">
		      		<img [src]="authService.currentUser.image" *ngIf="authService.currentUser.image != null" class="avatar mr-3">
		      		<img src="assets/img/Blank Avatar.jpg" *ngIf="authService.currentUser.image == null" class="avatar mr-3">
		      		<span class="comment-name-text mt-3">{{authService.currentUser.first_name}} {{authService.currentUser.last_name}}</span>
		      	</div>
		      	<textarea 
		      		autofocus 
		      		placeholder="What are your thoughts?" 
		      		class="comment-text mt-2" 
		      		rows="3" 
		      		style="width:100%" 
		      		[(ngModel)]="commentStr"></textarea>
		      	<div class="d-flex flex-row-reverse mb-2">
		      		<button class="btn" (click)="comment()">Publish</button>
		      	</div>
		      </div>
  	      <div class="card mt-2 px-3" *ngFor="let comment of article.comments">
		      	<div class="d-flex flex-row mt-3">
		      		<img src="assets/img/Blank Avatar.jpg" *ngIf="comment.author_avatar == null" class="avatar mr-3">
		      		<img [src]="comment.author_avatar" *ngIf="comment.author_avatar != null" class="avatar mr-3">
		      		<div class="d-flex flex-column">
		      			<span class="comment-name-text mt-1">{{comment.author}}</span>
		      			<span class="comment-time mt-1">{{comment.created_at | getPublicationDate}}</span>
		      		</div>
		      		<div class="ml-auto p-2 delete-btn" *ngIf="didUserPublish(comment)" (click)="deleteComment(comment)">Delete</div>
		      	</div>
		      	<div class="comment-text">
		      		{{comment.body}}
		      	</div>
			    </div>
      	</div>
      </div>
    </div>
  </div>
</div>