.card {
  border-radius:0;
}

.club-banner {
  width:100%;
  height:auto;
}

.title-font {
  font-family: Lato-Black;
  font-size: 24px;
}

.club-name-font {
  font-family:Lato-Semibold;
  font-size:18px;
  color:#83868a;
}

.expiry-font {
  font-family:Lato-Regular;
  font-size:18px;
  color:#83868a;
}

.card-header {
  background-color: white;
}

.job-detail {
  font-family: Lato-Regular;
  font-size: 18px;
}

.job-header-font {
  font-family:Lato-Bold;
  font-size:14px;
  color:#000000;
  text-transform:uppercase;
}

.description-font{
  font-family:Lato-Regular;
  font-size:15px;
  color:#83868a;
}

.logo {
  width:120px;
  height:120px;
}

.form-group label {
  font-family:Lato-Regular;
}

.form-group input{
  font-family:Lato-Regular;
  border:1px solid darkgrey;
  border-radius: 0;
}

select {
  border: 1px solid darkgrey;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}