<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-3 col-md-3 col-lg-3 mt-4">
      <div class="card sticky">
        <div class="card-header d-flex">
          <img src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg" class="avatar">
          <h4 class="card-title profile-name align-self-center">Richard Hugessen</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">All</li>
          <li class="list-group-item">Events</li>
          <li class="list-group-item">Case Competitions</li>
          <li class="list-group-item">Laz Latest/Blog</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-5 col-md-5 col-lg-5 mt-4">
      <div *ngFor="let event of events" style="margin-bottom:2rem">
        <div class="card" style="background-color:rgba(0,0,0,0.05)">

            <div class="card-block">
              <div class="d-flex mb-2">
                <img src="assets/img/thumbnails/{{clubs[event.club_id.toString()].app_logo}}" class="profile-avatar mr-3" alt="">
                <div class="d-flex flex-column">

                  <h4 class="card-title mb-2">{{event.title}}</h4>
                  <h4 class="card-datetime">{{event.start_date_time | getLongDate}}</h4>
                </div>
              </div>
              <div class="card-text mb-2">
                  {{event.event_description}}
              </div>
            <img class="card-img-top" src="assets/img/Startup Consulting.jpg" *ngIf="event.banner != ''">
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm">Follow</button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 mt-4">
      <div class="card sticky">
        <div class="card-header py-2 text-center">
          <b>Calendar</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex w-100">
              <img src="assets/img/calendar-icon.svg" class="mr-3">
              <div class="d-flex flex-column">
                <span class="event-title-font">{{events[0].title}}</span>
                <span class="event-sub-heading">{{events[0].location}}</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex w-100">
              <img src="assets/img/calendar-icon.svg" class="mr-3">
              <div class="d-flex flex-column">
                <span class="event-title-font">{{events[4].title}}</span>
                <span class="event-sub-heading">{{events[4].location}}</span>
              </div>
              </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex w-100">
              <img src="assets/img/calendar-icon.svg" class="mr-3">
              <div class="d-flex flex-column">
                <span class="event-title-font">{{events[2].title}}</span>
                <span class="event-sub-heading">{{events[2].location}}</span>
              </div>
              </div>
          </li>
        </ul>
      </div>
      <div class="card mt-3 sticky-updates">
        <div class="card-header py-2 text-center">
          <b>Updates</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex w-100">
              <img src="assets/img/calendar-icon.svg" class="mr-3">
              <div class="d-flex flex-column">
                <span class="event-title-font">{{events[3].title}}</span>
                <span class="event-sub-heading">{{events[3].location}}</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex w-100">
              <img src="assets/img/calendar-icon.svg" class="mr-3">
              <div class="d-flex flex-column">
                <span class="event-title-font">{{events[4].title}}</span>
                <span class="event-sub-heading">{{events[4].location}}</span>
              </div>
              </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex w-100">
              <img src="assets/img/calendar-icon.svg" class="mr-3">
              <div class="d-flex flex-column">
                <span class="event-title-font">{{events[2].title}}</span>
                <span class="event-sub-heading">{{events[2].location}}</span>
              </div>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
