<img src="assets/img/Lazsoc-VPs.jpg" class="rounded mx-auto d-block" alt="">
<!-- <h1 class="display-3 text-center">Lazaridis Students' Society</h1> -->
<h1 class="display-4 text-center">Our Mission</h1><br/>
<div class="container">
  The Lazaridis Students’ Society strives to enhance the student experience of every Lazaridis student by providing opportunities for students to discover and pursue their passions.
  <br/><br/>
  The Lazaridis Students’ Society (LazSoc) is a student-led organization comprised of all 6,000 undergraduate Lazaridis Business & Economics students at Wilfrid Laurier University. The Lazaridis Students’ Society acts as a link between students, faculty, and members of the surrounding business and economics community.
  <br/><br/>
  Each semester, the Lazaridis Student’s Society offers resources, programs, and unique events tailored to broaden students’ professional and personal development. The Lazaridis Students’ Society supports the initiatives and programming of the 20+ Lazaridis business and economics clubs and associations, who are committed to the development of key student interests.
  The Lazaridis Students’ Society is dedicated to representing the interests of all undergraduate Lazaridis Business & Economics students. We strive to support and enhance the student experience and provide opportunities for students to discover and pursue their passions.
  <br/><br/>
  Funding
  The Lazaridis Students’ Society is funded through the SBE Faculty Fee (SBE Levy) and sponsorships from corporate partners. The fee, which is paid by all Lazaridis SBE students each semester, has been in effect since 1995, and has continued to be our main source of funding. The Fee has helped grow the Lazaridis Students’ Society into a multi-purpose organization: representing the Lazaridis student body, funding and facilitating clubs, and providing engaging events and programs. The organization does not make any profit off of these funds – we are solely working to improve the student experience at the Lazaridis School of Business & Economics.
</div>
