<div class="container-fluid">
  <div class="d-flex justify-content-center mt-4">
    <div class="row container-fluid mt-4 justify-content-center">
      <div *ngIf="state == 'login'" style="margin-top:60px">
        <div class="forum-container">
          <div class="form">
            <img class="laz-logo" src="assets/img/Lazsoc-logo.png">
            <form class="login-form">
              <span class="err-msg" *ngIf="loginErr != ''">{{loginErr}}</span>
              <input type="text" placeholder="Email" [(ngModel)]="loginObj.email" name="email"/>
              <input type="password" placeholder="Password" [(ngModel)]="loginObj.password" name="password"/>
              <button (click)="signIn()" data-dismiss="modal">Login</button>
              <img src="assets/img/Linkedin-Login.png" class="linkedin-login" (click)="loginOauth()">
              <p class="message">Not Registered? <a (click)="state = 'register'" style="cursor:pointer"><u>Create an account</u></a></p>
            </form>
          </div>
        </div>
      </div>
      
      <div *ngIf="state === 'register'" style="margin-top:60px">
        <div class="forum-container">
            <div class="form">
              <img class="laz-logo" src="assets/img/Lazsoc-logo.png">
              <form class="login-form">
                <span class="err-msg" *ngFor="let error of errors">{{error}}<br></span>
                <div class="d-flex flex-row">
                  <input type="email" placeholder="Email" maxlength="8" name="email" class="email" [(ngModel)]="registerObj.email"/>
                  <span class="mylaurier ml-2">@mylaurier.ca</span>
                </div>
                <input type="password" placeholder="Password" name="password" [(ngModel)]="registerObj.password"/>
                <input type="password" placeholder="Confirm Password" name="passwordConfirmation" [(ngModel)]="registerObj.passwordConfirmation"/>
                <button (click)="registerUser()">Let's get started!</button>
                <img src="assets/img/Linkedin-Login.png" class="linkedin-login" (click)="loginOauth()">
                <p class="message">Already Registered? <a (click)="state = 'login'" style="cursor:pointer"><u>Sign-in</u></a></p>
              </form>
            </div>
        </div>
      </div>
      <div *ngIf="state === 'post-registration'" style="margin-top:60px">
        <div class="forum-container">
          <div class="post-registration">
            <img src="assets/img/Lazsoc-logo.png">
            <br>
            <h1>Check your email</h1>
            <span>
              Thanks for registering with us! Check your email to confirm your account.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>