.card {
  box-sizing: border-box;
  border: 1px solid #D4D4D4;
  background-color: #FFFFFF; 
  height: 100%;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.register-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-bottom: 50px;
  padding: 45px;
  text-align: center;
}
.form input {
  font-family: Lato-Regular;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: Lato-Regular;
  outline: 0;
  background: #F2A900;
  width: 100%;
  border: 0;
  border-radius:5px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #F2A900;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0083C1;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.err-msg {
  font-family:Lato-Regular;
  font-size:12px;
  color:red;
  letter-spacing:0;
  text-align:left;
}

.forum-container {
  /*background-color: #FFFFFF;*/
  margin-top: 5px;
  margin-bottom: 10px;
  min-width: 500.837px;
}

.mylaurier {
  font-family: Lato-Regular;
  margin-top: 10px;
}

.email {
  width:50% !important;
}

.post-registration {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 30px 40px 60px 40px;
  text-align: center;
}

.post-registration h1 {
  font-family: Lato-Black;
  font-size: 36px;
  font-weight:900;
  margin-bottom:10px;
}

.post-registration span {
  font-family: Lato-Regular;
  color:#83868A;
  font-size: 16px;
}
.laz-logo {
  width:120px; 
  height:auto; 
  margin-bottom:10px;
}

.linkedin-login {
  width:100%; 
  margin-top:15px;
  cursor:pointer;
}