<div class="container-fluid">
  <div class="d-flex justify-content-center mt-4">
    <div class="container-fluid mt-4 justify-content-center">
      <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
        {{error}}
      </div>
      <div *ngIf="state == 'login'">
        <h1>Sign in</h1>
        <div class="forum_container">
          <div class="form">
            <img src="assets/img/Lazsoc-logo.png" style="width:100px; height:auto; margin-bottom:10px;">
            <form class="register-form">
              <input type="text" placeholder="name"/>
              <input type="password" placeholder="password"/>
              <input type="text" placeholder="email address"/>
              <button>create</button>
              <p class="message">Already Registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
              <span class="err-msg" *ngIf="hasLoginError">Invalid login credentials. Please try again.</span>
              <input type="text" placeholder="email" [(ngModel)]="loginObj.email" name="email"/>
              <input type="password" placeholder="password" [(ngModel)]="loginObj.password" name="password"/>
              <button (click)="signIn()" data-dismiss="modal">login</button>
              <p class="message">Not Registered? <a (click)="state = 'register'" style="cursor:pointer">Create an account</a></p>
            </form>
          </div>
        </div>
      </div>
      
      <div class="" *ngIf="state === 'register'">
        <h1>Join the Community</h1>
        <div class="forum_container">
            <div class="form">
              <img src="assets/img/Lazsoc-logo.png" style="width:100px; height:auto; margin-bottom:10px;">
              <form class="login-form">
                <span class="err-msg" *ngIf="hasRegisterError">Invalid login credentials. Please try again.</span>
                <div class="d-flex flex-row">
                  <input type="email" placeholder="email" maxlength="8" name="email" class="email" [(ngModel)]="registerObj.email"/>
                  <span class="mylaurier ml-2">@mylaurier.ca</span>
                </div>
                <input type="password" placeholder="Password" name="password" [(ngModel)]="registerObj.password"/>
                <input type="password" placeholder="Confirm Password" name="passwordConfirmation" [(ngModel)]="registerObj.passwordConfirmation"/>
                <button (click)="registerUser()">Create Account</button>
                <p class="message">Already Registered? <a (click)="state = 'login'" style="cursor:pointer">Sign-in</a></p>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>