<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div *ngIf="state === 'login'">
        <button type="button" class="btn btn-primary" (click)="signIn()" *ngIf="!(authService.userSignedIn$ | async)">Sign in</button>
        <button type="button" class="btn btn-primary" (click)="signOut()" *ngIf="(authService.userSignedIn$ | async)">Sign out</button>
        <button type="button" class="btn btn-primary" (click)="state = 'REGISTER'" *ngIf="!(authService.userSignedIn$ | async)">Register</button>
        <button type="button" class="btn btn-primary" (click)="state = 'UPDATE'" *ngIf="(authService.userSignedIn$ | async)">Update</button>


        <div class="login-page" *ngIf="!(authService.userSignedIn$ | async)" >
          <div class="form">
            <form class="register-form">
              <input type="text" placeholder="name"/>
              <input type="password" placeholder="password"/>
              <input type="text" placeholder="email address"/>
              <button>create</button>
              <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
              <input type="text" placeholder="email" [(ngModel)]="loginObj.email" name="email"/>
              <input type="password" placeholder="password" [(ngModel)]="loginObj.password" name="password"/>
              <button (click)="signIn()">login</button>
              <p class="message">Not registered? <a (click)="state = 'REGISTER'">Create an account</a></p>
            </form>
          </div>
        </div>
      </div>
      <div class="" *ngIf="state === 'REGISTER'">
        <div class="login-page">
          <div class="form">
            <form class="login-form">
              <!-- <div class="d-flex flex-row pt-2">
                <input type="text" placeholder="First Name" name="firstname" class="mr-2" [(ngModel)]="registerObj.firstname"/>
                <input type="text" placeholder="Last Name" name="lastname" class="ml-2" [(ngModel)]="registerObj.lastname"/>
              </div> -->
              <input type="email" placeholder="Email" name="email" [(ngModel)]="registerObj.email"/>
              <input type="password" placeholder="Password" name="password" [(ngModel)]="registerObj.password"/>
              <input type="password" placeholder="Confirm Password" name="passwordConfirmation" [(ngModel)]="registerObj.passwordConfirmation"/>

              <button (click)="registerUser()">Create Account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
