<h1 class="display-3 text-center">Lazsoc Full Team</h1>
<h1 class="display-4" style="font-size:30px">Vice Presidents</h1>
<div class="d-flex flex-row justify-content-start">
  <div class="card">
    <img class="card-img-top" src="../../assets/img/Head Shots/IMG_3647.jpg" alt="">
  </div>
  <div class="card headshot-card">
    <img class="" src="../../assets/img/Head Shots/IMG_3647.jpg" alt="">
  </div>
  <div class="card headshot-card">
    <img class="" src="../../assets/img/Head Shots/IMG_3647.jpg" alt="">
  </div>
  <div class="card headshot-card">
    <img class="" src="../../assets/img/Head Shots/IMG_3647.jpg" alt="">
  </div>
</div>
