.posting-title {
	font-family: Lato-Bold;
	font-size: 15px;
}

.posting-club {
	font-family: Lato-Regular;
	color: #83868A;
	font-size:13px;
}

.see-more-postings {
  font-family: Lato-Semibold;
  font-size: 12px;
  color: #433089;
}