<div class="card sticky" *ngIf="(authService.userSignedIn$)">
  <img src="assets/img/cover-photo.jpeg" style="height:100px" class="card-image-top" routerLink="/profile/{{tokenService.currentUserData.id}}">
  <img src="assets/img/Blank Avatar.jpg" class="profile-avatar mr-2" routerLink="/profile/{{tokenService.currentUserData.id}}">
  <div class="card-header d-flex align-items-center py-2" routerLink="/profile/{{tokenService.currentUserData.id}}">
    <div class="d-flex flex-column" style="transform:translate(4.5em,0); cursor:pointer">
      <h4 class="profile-name my-0">{{tokenService.currentUserData.first_name}} {{tokenService.currentUserData.last_name}}</h4>
      <span class="profile-subheader my-0">{{tokenService.currentUserData.program}}</span>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" routerLink="/update" *ngIf="tokenService.userSignedIn()">Update Profile</li>
    <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" (click)="setNewsfeedState('all')" [ngClass]="{active: newsfeedState == 'all'}">Events and Blog</li>
    <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" (click)="setNewsfeedState('events')" [ngClass]="{active: newsfeedState == 'events'}">Events</li>
    <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" (click)="setNewsfeedState('events')" [ngClass]="{active: newsfeedState == 'events'}">Blog</li>
  </ul>
</div>
<div class="card sticky" *ngIf="!(authService.userSignedIn$)">
  <div class="card-block" style="text-align:center">
    <img src="assets/img/icons/Profile.svg" style="width:40%">
    <br>
    <span class="join-the-community">Join the Community</span><br>
    <span class="signup-subheader">Learn about all Lazsoc has to offer</span>
    <br><br>
    <div class="signup-button mb-2" style="cursor:pointer">
      <span class="signup-btn-text">Sign up!</span>
    </div>
    <span class="login-text" style="cursor:pointer">Or just log in!</span>
  </div>
</div>
<!-- If user not signed in -->
<!-- <div class="card sticky" *ngIf="!(authService.userSignedIn$ | async)">
  <div class="list-group">
    <button class="list-group-item list-group-item-action py-2" (click)="setNewsfeedState('all')" [ngClass]="{active: newsfeedState == 'all'}">Discover</button>
    <button class="list-group-item list-group-item-action py-2" (click)="setNewsfeedState('events')" [ngClass]="{active: newsfeedState == 'events'}">Events</button>
    <button class="list-group-item list-group-item-action py-2" (click)="setNewsfeedState('blog')" [ngClass]="{active: newsfeedState == 'blog'}">Posts</button>
    <button class="list-group-item list-group-item-action py-2" (click)="setNewsfeedState('case-comps')" [ngClass]="{active: newsfeedState == 'case-comps'}">Case Comps</button>
  </div>
</div>
<div class="card sticky-share mt-2">
  <span class="list-group-item share_button" routerLink="/compose">Have something to share?</span>
</div> -->
