<div class="card" *ngIf="(authService.userSignedIn$)" style="border-bottom:0">
<!--   <img src="assets/img/cover-photo.jpeg" style="height:100px" class="card-image-top" routerLink="/profile/{{tokenService.currentUserData.id}}">
  <img src="assets/img/Blank Avatar.jpg" class="profile-avatar mr-2" routerLink="/profile/{{tokenService.currentUserData.id}}">
  <div class="card-header d-flex align-items-center py-2" routerLink="/profile/{{tokenService.currentUserData.id}}"> -->
  <img src="assets/img/cover-photo.jpeg" style="height:100px" class="card-image-top">
  <img src="assets/img/Blank Avatar.jpg" class="profile-avatar mr-2" *ngIf="!currentUser.image">
  <img [src]="currentUser.image" class="profile-avatar mr-2" *ngIf="currentUser.image">
  <div class="card-header d-flex align-items-center py-2">
    <div class="d-flex flex-column" style="transform:translate(4.5em,0); cursor:pointer">
      <h4 class="profile-name my-0">{{currentUser.first_name}} {{currentUser.last_name}}</h4>
      <span class="profile-subheader my-0">{{currentUser.program}}</span>
    </div>
  </div>
</div>
<div class="card" *ngIf="!(authService.userSignedIn$)">
  <div class="card-block" style="text-align:center">
    <img src="assets/img/icons/Profile.svg" style="width:40%">
    <br>
    <span class="join-the-community">Join the Community</span><br>
    <span class="signup-subheader">Get unlimited access to all Lazsoc has to offer</span>
    <br><br>
    <div class="signup-button mb-2" style="cursor:pointer">
      <span class="signup-btn-text" routerLink="/login">Sign up!</span>
    </div>
    <span class="login-text" style="cursor:pointer" routerLink="/login">Or just log in!</span>
  </div>
</div>
