<div class="col-sm-3 col-md-3 col-lg-3 mt-4">
<div class="card sticky">
  <div class="card-header py-2" style="background-color:white">
    <b>Calendar</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex w-100">
        <img src="assets/img/calendar-icon.svg" class="mr-3">
        <div class="d-flex flex-column">
          <span class="event-title-font">Laurier Accounting Association General Member's Kickoff Info Session</span>
          <span class="event-sub-heading">Peters Building</span>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100">
        <img src="assets/img/calendar-icon.svg" class="mr-3">
        <div class="d-flex flex-column">
          <span class="event-title-font">Laurier Accounting Association General Member's Kickoff Info Session</span>
          <span class="event-sub-heading">Peters Building</span>
        </div>
        </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100">
        <img src="assets/img/calendar-icon.svg" class="mr-3">
        <div class="d-flex flex-column">
          <span class="event-title-font">Laurier Accounting Association General Member's Kickoff Info Session</span>
          <span class="event-sub-heading">Peters Building</span>
        </div>
        </div>
    </li>
  </ul>
</div>
<div class="card mt-3 sticky-updates">
  <div class="card-header py-2" style="background-color:white">
    <b>Updates</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex w-100">
        <img src="assets/img/calendar-icon.svg" class="mr-3">
        <div class="d-flex flex-column">
          <span class="event-title-font">Laurier Accounting Association General Member's Kickoff Info Session</span>
          <span class="event-sub-heading">Peters Building</span>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100">
        <img src="assets/img/calendar-icon.svg" class="mr-3">
        <div class="d-flex flex-column">
          <span class="event-title-font">Laurier Accounting Association General Member's Kickoff Info Session</span>
          <span class="event-sub-heading">Peters Building</span>
        </div>
        </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex w-100">
        <img src="assets/img/calendar-icon.svg" class="mr-3">
        <div class="d-flex flex-column">
          <span class="event-title-font">Laurier Accounting Association General Member's Kickoff Info Session</span>
          <span class="event-sub-heading">Peters Building</span>
        </div>
        </div>
    </li>
  </ul>
</div>
</div>
