<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-faded nav" style="background-color:rgba(66,44,137,1); height:70px">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/newsfeed">
    <img src="../../assets/img/LazsocWhiteLogo.png" width="auto" height="55" class="ml-3" alt="">
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav mr-4">
      <li class="nav-item mr-4">
        <a class="nav-link" routerLink="/newsfeed" routerLinkActive="active">EVENTS</a>
      </li>
      <li class="nav-item mr-4" *ngIf="(authService.userSignedIn$ | async)">
        <a class="nav-link" routerLink="/beans" routerLinkActive="active">LAZBEANS</a>
      </li>
      <li class="nav-item dropdown mr-3">
        <a class="nav-link dropdown-toggle" id="getInvolvedDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          GET INVOLVED
        </a>
        <div class="dropdown-menu get-involved-dropdown" aria-labelledby="getInvolvedDropdown" >
          <a class="dropdown-item" routerLink="/clubs">Our Clubs</a>
          <a class="dropdown-item" routerLink="/hiring">Hiring</a>
        </div>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" routerLinkActive="active" href="http://www.shop.lazsoc.ca">SHOP</a>
      </li>
      <li class="nav-item mr-4" *ngIf="!(authService.userSignedIn$ | async)">
        <!-- <a class="nav-link" data-toggle="modal" data-target="#myModal">LOGIN</a> -->
        <a class="nav-link" routerLink="/login">LOGIN</a>
      </li>
      <li class="nav-item dropdown" *ngIf="(authService.userSignedIn$ | async)">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PROFILE
        </a>
        <div class="dropdown-menu profile-dropdown" aria-labelledby="navbarDropdownMenuLink" >
          <a class="dropdown-item" routerLink="/profile/{{authService.authService.currentUserData.id}}">View Profile</a>
          <a class="dropdown-item" routerLink="/update">Update Profile Info</a>
          <a class="dropdown-item" (click)="signOut()">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<nav class="gold-bar sticky-top">
</nav>

<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
  </div>
</div> -->
