.navbar {
  /*background-color:#422c89;*/
  font-family:Lato-Regular;
  font-size:17px;
  background-color:rgba(66,44,137,1); 
  height:70px;
}
.gold-bar {
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);*/
  position:absolute;
  background-color:#F2A900;
  height:8px;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 1;
}

.profile-dropdown {
  position:absolute;
  transform:translateX(-50%);
  z-index:2;
}

.get-involved-dropdown{
  position:absolute;
  z-index:2;
}

.dropdown-item {
  font-family: Lato-Regular;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.register-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
