<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-faded nav" style="background-color:rgba(66,44,137,1); height:70px">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/newsfeed">
    <img src="../../assets/img/LazsocWhiteLogo.png" width="auto" height="55" class="ml-3" alt="">
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav mr-4">
      <li class="nav-item mr-4">
        <a class="nav-link" routerLink="/newsfeed" routerLinkActive="active">EVENTS</a>
      </li>
      <li class="nav-item mr-4" *ngIf="(authService.userSignedIn$ | async)">
        <a class="nav-link" routerLink="/beans" routerLinkActive="active">LAZBEANS</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" routerLink="/clubs" routerLinkActive="active">GET INVOLVED</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" routerLink="/hiring" routerLinkActive="active">HIRING</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" routerLinkActive="active" href="http://www.shop.lazsoc.ca">SHOP</a>
      </li>
      <li class="nav-item mr-4" *ngIf="!(authService.userSignedIn$ | async)">
        <a class="nav-link" data-toggle="modal" data-target="#myModal">LOGIN</a>
      </li>
      <li class="nav-item dropdown" *ngIf="(authService.userSignedIn$ | async)">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PROFILE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
          <a class="dropdown-item" routerLink="/profile/{{authService.authService.currentUserData.id}}">View Profile</a>
          <a class="dropdown-item" routerLink="/update">Update Profile Info</a>
          <a class="dropdown-item" (click)="signOut()">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<nav class="gold-bar sticky-top">
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="state == 'login'">
          <div class="form">
            <form class="register-form">
              <input type="text" placeholder="name"/>
              <input type="password" placeholder="password"/>
              <input type="text" placeholder="email address"/>
              <button>create</button>
              <p class="message">Already Richard? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
              <input type="text" placeholder="email" [(ngModel)]="loginObj.email" name="email"/>
              <input type="password" placeholder="password" [(ngModel)]="loginObj.password" name="password"/>
              <button (click)="signIn()">login</button>
              <p class="message">Not Richard? <a (click)="state = 'REGISTER'">Create an account</a></p>
            </form>
          </div>
        </div>
        <div class="" *ngIf="state === 'REGISTER'">
            <div class="form">
              <form class="login-form">
                <input type="email" placeholder="Email" name="email" [(ngModel)]="registerObj.email"/>
                <input type="password" placeholder="Password" name="password" [(ngModel)]="registerObj.password"/>
                <input type="password" placeholder="Confirm Password" name="passwordConfirmation" [(ngModel)]="registerObj.passwordConfirmation"/>
                <button (click)="registerUser()">Create Account</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
