<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-0 col-sm-3 col-md-3 col-lg-3 mt-4 px-2">
      <div class="card mb-2 sticky" *ngIf="!authService.userSignedIn$">
        <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" (click)="setNewsfeedState('events')" [ngClass]="{active: newsfeedState == 'events'}">Events</li>
        <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" (click)="setNewsfeedState('articles')" [ngClass]="{active: newsfeedState == 'articles'}">Articles</li>
        <li class="list-group-item list-group-item-action py-2" style="cursor:pointer"><a href="mailto:webmaster@lazsoc.ca">Feedback</a></li>
      </div>
      <div *ngIf="!authService.userSignedIn$" class="sticky-signup">
        <profile-sidebar></profile-sidebar>
      </div>
      <div class="card sticky" style="border:none" *ngIf="authService.userSignedIn$">
        <profile-sidebar></profile-sidebar>
        <div>
          <ul class="list-group" style="border: 1px solid lightgrey; border-radius:0">
            <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" (click)="setNewsfeedState('events')" [ngClass]="{active: newsfeedState == 'events'}">Events</li>
            <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" (click)="setNewsfeedState('articles')" [ngClass]="{active: newsfeedState == 'articles'}">Articles</li>
            <li class="list-group-item list-group-item-action py-2" style="cursor:pointer"><a href="mailto:webmaster@lazsoc.ca">Feedback</a></li>
            <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" routerLink="/update">Edit Profile</li>
            <li class="list-group-item list-group-item-action py-2" style="cursor:pointer" (click)="signOut()">Log Out</li>
          </ul>
        </div>
      </div>
      <button class="btn compose" *ngIf="authService.userSignedIn$"><a routerLink="/compose" target="_blank" style="cursor:pointer">Write something!</a></button>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 px-2 mt-2">
<!--       <div class="d-flex flex-row mt-3">
        <input class="search-bar" id="exampleInputEmail1">
        <div class="search-button">
          <span class="search-text center-align">Search</span>
        </div>
      </div> -->
      <div class="d-flex flex-row mt-3 justify-content-left">
        <span class="filters-text mx-2 mt-1" style="font-family:Lato-Bold">Filters:</span>
        <div class="dropdown m-0 p-0">
          <a class="dropdown-toggle filters-text mx-2" style="cursor:pointer; color:#83868A" id="club-dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            Clubs
          </a>
          <div class="dropdown-menu club-dropdown" aria-labelledby="club-dropdown" style="width:300px"
                                                   onmouseover="document.body.style.overflow='hidden';"
                                                   onmouseout="document.body.style.overflow='auto';">
            <ul class="list-group" *ngFor="let club of clubs">
              <li class="list-group-item py-0" style="cursor:pointer" 
                [ngClass]="{selected: club.selected}" 
                (click)="toggleClubFilter(club.slug)">
                {{club.name}}
              </li>
            </ul>
          </div>
        </div>
        <div class="dropdown m-0 p-0">
          <a class="dropdown-toggle filters-text mx-2" style="cursor:pointer; color:#83868A" id="tag-dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            Tags
          </a>
          <div class="dropdown-menu club-dropdown" aria-labelledby="tag-dropdown"
                                                   onmouseover="document.body.style.overflow='hidden';"
                                                   onmouseout="document.body.style.overflow='auto';">
            <ul class="list-group" *ngFor="let tag of tags | mapToIterable">
              <li class="list-group-item py-0"
                  style="cursor:pointer" [ngClass]="{selected: tag.val.selected}" (click)="toggleTagFilter(tag.key)">{{tag.key}}</li>
            </ul>
          </div>
        </div>
        <div class="dropdown m-0 p-0">
          <a class="dropdown-toggle filters-text mx-2" style="cursor:pointer; color:#83868A" id="club-dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            Time
          </a>
          <div class="dropdown-menu club-dropdown" aria-labelledby="club-dropdown" style="width:170px"
                                                   onmouseover="document.body.style.overflow='hidden';"
                                                   onmouseout="document.body.style.overflow='auto';">
            <ul class="list-group" *ngFor="let timeframe of times | mapToIterable">
              <li class="list-group-item py-0" style="cursor:pointer" [ngClass]="{selected: timeframe.val.selected}" (click)="toggleTimeFilter(timeframe.key)">{{timeframe.key}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row" style="flex-wrap:wrap">
        <div *ngFor="let clubSlug of clubFilters">
          <div class="filter-tag mb-1 mx-1" (click)="toggleClubFilter(clubSlug)">
            <span>{{clubSlug}}</span>
          </div>
        </div>
        <div *ngFor="let tag of tagFilters">
          <div class="filter-tag mb-1 mx-1" (click)="toggleTagFilter(tag)">
            <span>{{tag}}</span>
          </div>
        </div>
        <div *ngFor="let tag of timeFilters">
          <div class="filter-tag mb-1 mx-1" (click)="toggleTimeFilter(tag)">
            <span>{{tag}}</span>
          </div>
        </div>
      </div>

      <app-newsfeed *ngIf="newsfeedState == 'events'" [clubID]="0" #mainFeed></app-newsfeed>
      <app-article-feed *ngIf="newsfeedState== 'articles'"></app-article-feed>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 mt-4 px-2">
      <event-sidebar></event-sidebar>
    </div>
  </div>
</div>
