.list-group {
  height:200px;
  overflow-y: scroll;
}
.list-group-item{
  font-family:Lato-Semibold;
  font-size:14px;
  color:#000000;
}

.card-header-text {
  font-family:Lato-Black;
  font-size:16px;
  color:#83868a;
  letter-spacing:0;
  text-align:left;
}

.selected {
  background-color:lightgrey;
}

.sticky-filters{
  position: -webkit-sticky;
  position: sticky;
  top: 400px;
}
