<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-3 col-md-3 col-lg-3 pl-0 pr-1">
			<div class="card sticky">
				<div class="card-block" style="text-align:center">
					<span class="big-gold-text">20+</span><br>
					<span class="sub-font">Locations where the program is active</span>
					<br><hr>
					<span class="sub-font">Want to be another location on our list?</span>
					<div class="gold-button mt-3">
						<a class="white-font" href="mailto:vptechdev@lazsoc.ca">Let's Chat</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9 pr-0 pl-1">
			<div class="card">
			  <div class="card-block">
			  	<img src="assets/img/discount-tag.png" class="discount-tag">
			  	<span class="header-text">DESCRIPTION</span><br>
			  	<span class="description-text">
			  	   In 2016 the Lazaridis Students’ Society officially launched our Discount program. As a Lazaridis Student you are entitled to discounts at the locations below, this is one of the many ways we try to make your undergraduate experience that much better.
			  	</span>
			  	<br><br>
		  		<span class="header-text">HOW DOES IT WORK?</span><br>
			  	<span class="description-text">
			  	   Show your “Discount Program” key tag at the following locations and receive your discount! This program is only available for Business, Economics and Double Degree students. Key tags are distributed at Coffee Bar located outside the Clubs and Associations office in Lazaridis Hall every Monday from 9:30am-12:00pm. Show the Lazaridis Students’ Society executive proof of program on Loris and happy saving!
			  	</span><br><br>
		  		<span class="header-text">WHERE CAN I USE IT?</span><br>
			  	<span class="description-text">
			  	   Thoese are some of the places the discount program is usable. More partnerships are being formed day by day
             so stay tuned for more locations.
			  	</span>
			    <div class="d-flex flex-row flex-wrap">
			    	<div *ngFor="let partner of discountPartners" style="width:33%">
				      <div class="d-flex flex-column" >
			        	<img src="assets/img/{{partner.logo}}" alt="">
			        	{{partner.name}}
			      	</div>
			    	</div>
			    </div>
			    <br>
			    <span class="header-text">WHERE CAN I USE IT?</span><br>
			    <span class="description-text">
			    		•	Sweet Dreams Tea: 10% off Food and Drink items. (no additional discounts or promotions used together)<br>
							•	Harmony by Earthwinds: 10% off any regular priced stock.<br>
							•	Huether Hotel: 10% off storewide *excludes alcohol.<br>
							•	Noon Moment: 10% off storewide.<br>
							•	Crossroads Board Game Café: Double stamps.<br>
							•	Menchies: 10% off purchase.<br>
							•	KW Empanadas: 10% off every order by entering code LAZARIDIS17 at checkout.<br>
							•	Crabby Joes: 15% off regular menu and $2.50 Bar Rail drinks, $0.59 wings on Tuesdays, $5 off burgers on Wednesdays after 5pm.<br>
							•	Shoeless Joes: 25% off regular priced food items with the purchase of a beverage. Dine in only.<br>
							•	Live Switchboard: 5% off all Services.<br>
							•	Staples: 20% Copy and Print Services using Business Discount #8152349448.<br>
							•	Andie’s: 10% off all items, excluding sale merchandise.<br>
							•	Uptown Woods: 15% off storewide.<br>
							•	Mucho Burrito: Small Burrito + Can Drink for $7.50; Regular Burrito + Can Drink for $8.50; Free Chips with purchase of salsa ($1.00).<br>
							•	Papa John’s: 10% off any regular menu items, not valid with other offers.<br>
							•	Gino’s Pizza: $10.50 Large 3 Topping.<br>
							•	Settlement Co: 10% off food Thursday-Sunday at both Kitchener and Waterloo locations.<br>
							•	Abe Erb: 15% of food Saturday-Sunday from 10 am to 5pm at both Kitchener Waterloo locations.<br>
							•	Rain Tree Cafe: 10% off all regular priced items excluding alcohol.<br><br>


						For any questions or program inquiries please contact our Corporate Relations Specialists, Hannah Klein, (hannah.klein@lazsoc.ca) .
			    </span>
			  </div>
			</div>
		</div>
	</div>
</div>

