.card {
  border-radius: 0;
}
.form-group label{
  font-family:Lato-Bold;
}
.form-group input{
  font-family:Lato-Regular;
  border:1px solid darkgrey;
  border-radius: 0;
}
.card-title{
  font-family:Lato-Black;
}
.avatar {
	border-radius: 50%;
	width: 30%;
	height: auto;
}

.form-element {
  width:48%;
}

h2 {
  font-family:Lato-Black;
}

p {
	font-family: Lato-Light;
}

.form-group[_ngcontent-c2] label[_ngcontent-c2] {
	font-family: Lato-Semibold;
}
