.card {
  border-radius: 0;
}
.form-group label{
  font-family:Lato-Bold;
}
.form-group input{
  font-family:Lato-Regular;
  border-radius: 3px;
}
.card-header{
  background-color: white;
  font-family:Lato-Black;
}
.avatar {
	border-radius: 50%;
	width: 30%;
	height: auto;
}

.some-fields-blank {
  font-family: Lato-Regular;
  margin-top:0px;
  font-size:14px;
  color:red;
}

.submit-btn {
  font-family: Lato-Bold;
  color:white;
  background-color: #F2A900;
  width:15%;
  padding: 10px 0 10px 0;
  cursor:pointer;
}

h2 {
  font-family:Lato-Black;
}

span {
	font-family: Lato-Light;
}

.form-group[_ngcontent-c2] label[_ngcontent-c2] {
	font-family: Lato-Semibold;
}

.upload-img {
  width:150px;
  height:150px;
  transform: translateX(50px);
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #D4D4D4;
}

.upload-img img {
  z-index: -1 !important;
  display: block;
  position: relative;
  height:100%;
  width:auto;
}

textarea {
  width:100%;
  font-family:Lato-Regular;
  border: 1px solid #ced4da;
  border-radius:5px;
}

.form-check-label {
  margin-left:18px;
  margin-bottom:10px;
  font-family:Lato-Regular;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.danger {
  border-color: red;
  border-width:1px;
}
