img {
	-webkit-filter: blur(2px);
}
.cover-container {
	overflow: hidden;
	z-index: -1 !important;
}

.open-positions{
	z-index: 20;
	display: block;
	position: absolute;
	transform: translate(450px,200px);
	font-size:50px;
	color:#F4F4F4;
	font-family: Lato-Black;
}

.subtext {
	z-index: 20;
	display: block;
	position: absolute;
	transform: translate(450px,280px);
	font-size: 25px;
	color:#F4F4F4;
	font-family: Lato-Black;
}