<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="card">
        <div class="card-block">
          <div class="d-flex flex-row">
            <img src="https://media.giphy.com/media/26gsl2WC5tRxkemdi/giphy.gif" class="profile-img">
            <div class="d-flex flex-column" style="transform:translate(0,4em)">
              <h2 class="name-font">Richard Hugessen</h2>
              <h2 class="program">BBA/Computer Science Double Degree</h2>
              <div class="d-flex flex-row">
                <img src="assets/img/facebook_logo.png" class="social-logo mr-2">
                <img src="assets/img/twitter_logo.png" class="social-logo mr-2">
                <img src="assets/img/linkedin_logo.png" class="social-logo mr-2">
                <img src="assets/img/instagram_logo.png" class="social-logo mr-2">
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-2" routerLink="/fullteam">Update Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
