<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="card mt-4">
        <div class="card-img-top">
          <img src="assets/img/cover-photo.jpeg" class="card-img-top banner-img">
        </div>
        <div class="card-body">
          <img [src]="user.image" class="profile-img" *ngIf="user.image">
          <img src="assets/img/Blank Avatar.jpg" class="profile-img" *ngIf="!user.image">
          <div style="padding-top:10%">
            <h2 class="name-font">{{user.first_name}} {{user.last_name}}</h2>
            <h2 class="program">{{user.program}}</h2>
          </div>
          <hr width="70%">
          <div class="biography-text">
            {{user.summary}}
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-4 pr-1">
          <div class="card">
            <div class="card-body">
              
            </div>
          </div>
        </div>
        <div class="col-8 pl-1">
          <div class="card">
            <div class="card-header card-header-text">About</div>
            <div class="card-body">
              <span class="card-title">Experience</span>
              <div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
