h5, h5 > a {
  font-family: Lato-Black;
  font-weight: 600;
  color: black;
  text-align: center;
  text-decoration: none;
}

h5 > a:hover, h5 > a:active, h5 > a:visited {
  text-decoration: none;
}

h6 {
  font-family: Lato-Black; 
  text-align: center;
}

.active {
  background-color: white !important;
  border-left:6px solid #FCB518 !important;
  padding-left:9px;
  font-family:Lato-Semibold;
  color:black !important;
}

.side-heading {
  font-family:Lato-Medium;
  font-size:16px;
  color:#83868A;
  padding-left:15px;
  cursor:pointer;
}

.left-content-pane {
  margin-left:3.5%;
  margin-right: 8px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 104px;
}

.card {
  overflow: hidden;
  border:1 solid #83868a;
  border-radius: 0;
}

.portfolio-header {
  background-color:white;
}

.club-detail-card {
  width:66.6%;
}

.sidebar-card {
  width:21.9%;
}

.club-banner {
  width:100%;
  height:auto;
}
.card-img-top {
  display: block;
  width: 100%;
  height: auto;
  border-radius:0;
}
.club-avatar {
  display: block;
  margin-top:-10%;
  width: 20%;
  border:5px solid white;
  border-radius:10px;
}

.club-event-avatar {
  display: block;
  width: 50px;
  height:50px;
  border-radius: 50%;
  /*border: 1px solid darkgrey;*/
}

.club-card-text {
  margin-left:34%;
}

.club-title {
  font-family:Lato-Black;
  font-size:26px;
  color:#000000;
  letter-spacing:0;
  text-align:left;
}

.club-event-title {
  font-size: 1.15em;
  font-family:Lato-Bold;
  line-height: 1.2857em;
  font-weight:500;
}

.card-text {
  font-family:Lato-Regular;
  clear: both;
  margin-top: .5em;
  font-size:15px;
  /*color: rgba(0, 0, 0, .68);*/
}

.card-datetime {
  font-family:Lato-Regular;
  font-size:14px;
  color:#83868a;
}

.club-tags {
  font-family:Lato-Medium;
  font-size:16px;
  color:#83868a;
  letter-spacing:0;
  text-align:left;
}

.grey-line {
  border:0 solid #83868a;
  width:561.5px;
  height:2.5px;
}

.club-detail-text {
  font-family:Lato-Medium;
  font-size:14px;
  letter-spacing:0;
  text-align:left;
}

.subscribe-btn {
  margin-top:1%;
  border:2px solid #433089;
  border-radius:2px;
  width:130px;
  height:30px;
  text-align:center;
}

.subscribe-btn-text {
  font-family:Lato-Heavy;
  font-size:16px;
  color:#433089;
  letter-spacing:0;
}

.club-detail-body {
  font-family:Lato-Medium;
  font-size:13px;
  color:#000000;
  letter-spacing:0;
  text-align:left;
}

.job-posting-subheader {
  font-family:Lato-Medium;
  font-size:10px;
  color:#83868a;
  letter-spacing:0;
  text-align:left;
}

.open-positions-icon {
  width:15%;
}

.icon {
  height:18px;
  margin-right:10px;
}

.head-shot {
  height: 160px;
  width: 160px;
  border: 1px solid lightgrey;
  border-radius:10%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.head-shot > img {
  width: 100%;
}

.persons {
  width: 30%;
  text-align: center;
}

.title-text {
  font-family: Lato-Light;
}

.social-link-title {
  font-family: Lato-Semibold;
  font-size: 12px;
}

.social-link-link {
  font-family: Lato-Regular;
  font-size: 10px;
  color: #0083c1;
}

.social-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 104px;
}
