<div class="container-fluid" style="background-color:#F5F5F5">
  <div class="row justify-content-center">
    <div class="mt-4 col-11">
      <div class="card">
        <div class="card-img-top">
          <img class="card-img-top club-banner" [src]="club.app_banner">
        </div>
        <div class="card-body py-3">
          <div class="media ml-3">
            <img [src]="club.app_logo" style="background-color:white" class="club-avatar align-self-start mr-4">
            <div class="media-body align-self-center d-flex flex-row mt-3">
              <div>
                <div class="club-title">{{club.name}}</div>
                <span class="club-tags" *ngFor="let tag of club.club_tags; let i = index">
                  <span *ngIf="i > 0">&bull;</span>
                  {{tag.tag}}
                </span>
                <hr>
                <span class="club-detail-text">{{club.description}}</span>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-8">
      <div class="row">
        <div class="col-4">
          <div class="card sticky">
            <h3 class="card-header card-header-text">View</h3>
						<div class="side-heading py-2" (click)="state = 'about'" [ngClass]="{active: state == 'about'}">About</div>
						<div class="side-heading py-2" (click)="state = 'events'" [ngClass]="{active: state == 'events'}">Events</div>
            <div class="side-heading py-2" *ngIf="club.id == 2" (click)="state = 'team'" [ngClass]="{active: state == 'team'}">Team</div>
            <div class="side-heading py-2" *ngIf="club.id == 2" (click)="state = 'sponsors'" [ngClass]="{active: state == 'sponsors'}">Sponsors</div>
            <div class="side-heading py-2" *ngIf="club.id == 2" (click)="state = 'photos'" [ngClass]="{active: state == 'photos'}">Photos</div>
          </div>
        </div>
        <div class="col-8 pl-1">
          <div *ngIf="state === 'about'">
            <div class="card sticky">
              <h3 class="card-header card-header-text">About</h3>
              <div class="card-body" *ngIf="club.id != 2">
                <span class="club-detail-text">
                  {{club.description}}
                </span>
              </div>
              <div class="card-body" *ngIf="club.id == 2">
                <span class="heading">Who are we?</span>
                <hr>
                <span class="club-detail-text">
                  {{club.description}}
                </span>
                <br><br>
                <span class="heading">Our Mission</span>
                <hr>
                <span class="club-detail-text">
                  To inspire learning, foster a collaborative community, and provide the opportunities for students to
                  simultaneously discover and pursue their passions.
                </span>
                <br><br>
                <span class="heading">Vision</span>
                <hr>
                <span class="club-detail-text">
                  To provide an enriching undergraduate student experience within the Lazaridis Students’ Society
                  community both in Canada and across the globe. We aim to positively impact every Lazaridis Student
                  in a meaningful manner by providing leadership opportunities and supporting personal and
                  professional development. We aim to do this by supporting our Clubs and Associations, crafting
                  events and
                  experiences, and promoting continuous development with external organizations to connect
                  students with alumni, potential employers, and unique opportunities. We strive towards giving
                  Lazaridis students an experience that adds value beyond their in-class time by fostering a strong
                  community and igniting the need for continuous development. 
                </span>
                <br><br>
                <span class="heading">Core Values</span>
                <hr>
                <span class="club-detail-text">
                  1. Execute with Excellence <br>
                  2. Act with Integrity and transparency <br>
                  3. Practice open communication <br>
                  4. Foster creativity and create a culture of learning <br>
                  5. Student commitment <br>
                  6. Create a supportive culture with regards to diversity and inclusion <br>
                  7. Represent every Lazaridis Student <br>
                </span>
              </div>
            </div>
          </div>

					<div *ngIf="state === 'events'">
						<app-newsfeed [clubEvents]="clubEvents" [isClubDetail]="true"></app-newsfeed>
					</div>
          <div class="card sticky" *ngIf="state === 'team'">
            <h3 class="card-header card-header-text">Team</h3>
            <div class="card-body">
              <div id="accordion" role="tablist" aria-multiselectable="true">
                
                <div [attr.id]="'accordion_' + i" *ngFor="let portfolio of fullTeam.portfolios; let i = index;">
                  
                  <div class="card-header portfolio-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i" aria-expanded="true" aria-controls="collapseOne">
                        {{portfolio.title}}&nbsp;<div><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                      </a>
                    </h5>
                  </div>
                  
                  <div [attr.id]="'collapseOne_' + i" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body d-flex justify-content-around flex-wrap">
                      <div *ngFor="let person of portfolio.team" class="persons">
                        <div class="head-shot has-headshot" *ngIf="person.image != null"><img src="{{person.image}}"></div>
                        <div class="head-shot" *ngIf="person.image == null"><img src="assets/img/thumbnails/Lazsoc.png"></div>
                        <h6 class="mt-2">{{person.name}}</h6>
                        <p class="title-text">{{person.title}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <job-posting-sidebar [clubID]="club.id"></job-posting-sidebar>
      <br>
      <div class="social-sticky">
        <span class="card-header-text">Social Media</span>
        <hr/>
        <div class="d-flex flex-row mb-3" *ngIf="club.website != ''">
          <img src="assets/img/website-icon.png" style="width:24px; height:24px">
          <div class="d-flex flex-column ml-3">
            <span class="social-link-title">Website</span>
            <a href="{{club.website}}" class="social-link-link">{{club.website}}</a>
          </div>
        </div>
        <div class="d-flex flex-row mb-3" *ngIf="club.club_social_links.hasOwnProperty('facebook')">
          <img src="assets/img/facebook_logo.png" style="width:24px; height:24px">
          <div class="d-flex flex-column ml-3">
            <span class="social-link-title">Facebook</span>
            <a [href]="club.club_social_links['facebook']" class="social-link-link">{{club.club_social_links['facebook']}}</a>
          </div>
        </div>
        <div class="d-flex flex-row mb-3" *ngIf="club.club_social_links.hasOwnProperty('instagram')">
          <img src="assets/img/instagram_logo.png" style="width:24px; height:24px">
          <div class="d-flex flex-column ml-3">
            <span class="social-link-title">Instagram</span>
            <a [href]="club.club_social_links['instagram']" class="social-link-link">{{club.club_social_links['instagram']}}</a>
          </div>
        </div>
        <div class="d-flex flex-row mb-3" *ngIf="club.club_social_links.hasOwnProperty('twitter')">
          <img src="assets/img/twitter_logo.png" style="width:24px; height:24px">
          <div class="d-flex flex-column ml-3">
            <span class="social-link-title">Twitter</span>
            <a [href]="club.club_social_links['twitter']" class="social-link-link">{{club.club_social_links['twitter']}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
