<div class="container-fluid" style="background-color:#F5F5F5">
	<div class="row">
  	<div class="col-sm-8 col-md-8 col-lg-8 mt-4 left-content-pane">
      <div class="card">
        <div class="card-img-top">
          <img class="card-img-top club-banner" src="assets/img/{{club.app_banner}}">
        </div>
        <img src="assets/img/thumbnails/{{club.app_logo}}" class="club-avatar">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9" style="padding-left:20px;">
							<div class="d-flex flex-row mb-2 justify-content-start">
								<span class="club-title">{{club.name}}</span>
								<div class="subscribe-btn ml-auto">
									<span class="subscribe-btn-text">Subscribe</span>
								</div>
							</div>
              <span class="club-tags" *ngFor="let tag of club.club_tags; let i = index">
								<span *ngIf="i > 0">&bull;</span>
								{{tag.tag}}
							</span>
              <br><br>

            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="card sticky">
            <h3 class="card-header card-header-text">View</h3>
            <!-- <div class="card-block">

            </div> -->
						<div class="list-group">
							<button class="list-group-item list-group-item-action py-2" (click)="state = 'about'" [ngClass]="{active: state == 'about'}">About</button>
							<button class="list-group-item list-group-item-action py-2" (click)="state = 'events'" [ngClass]="{active: state == 'events'}">Events</button>
						</div>
          </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 pl-1">
          <div class="card sticky" *ngIf="state === 'about'">
            <h3 class="card-header card-header-text">About</h3>
            <div class="card-block">
							<span class="club-detail-text">
								{{club.description}}
							</span>
            </div>
          </div>
					<div *ngIf="state === 'events'">
						<app-newsfeed [clubID]="club.id"></app-newsfeed>
					</div>

        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 mt-4" style="padding-left:0">
      <job-posting-sidebar></job-posting-sidebar>
    </div>
  </div>
</div>
