<div class="container-fluid" style="background-color:#F5F5F5">
	<div class="row justify-content-center">
  	<div class="col-sm-11 col-md-11 col-lg-11 mt-4">
      <div class="card">
        <div class="card-img-top">
          <img class="card-img-top club-banner" src="assets/img/{{club.app_banner}}">
        </div>
        <img src="assets/img/thumbnails/{{club.app_logo}}" class="club-avatar">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9" style="padding-left:20px;">
							<div class="d-flex flex-row mb-2 justify-content-start">
								<span class="club-title">{{club.name}}</span>
								<!-- <div class="subscribe-btn ml-auto">
									<span class="subscribe-btn-text" style="cursor: pointer;">Subscribe</span>
								</div> -->
							</div>
              <span class="club-tags" *ngFor="let tag of club.club_tags; let i = index">
								<span *ngIf="i > 0">&bull;</span>
								{{tag.tag}}
							</span>
              <hr>
              <span class="club-detail-text">
                {{club.description}}
              </span>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="card sticky">
        <h3 class="card-header card-header-text">View</h3>
				<ul class="list-group">
					<li class="list-group-item list-group-item-action py-2 pointer" (click)="state = 'events'" [ngClass]="{active: state == 'events'}">Events</li>
          <li class="list-group-item list-group-item-action py-2 pointer" (click)="state = 'hiring'" [ngClass]="{active: state == 'hiring'}">Hiring</li>
				</ul>
      </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 pl-1">
			<div *ngIf="state === 'events'">
				<app-newsfeed [clubID]="club.id"></app-newsfeed>
			</div>
      <div *ngIf="state === 'hiring'">
        <hiring-feed [clubID]="club.id"></hiring-feed>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 mt-4" style="padding-left:0">
      <social-links-sidebar [club]="club"></social-links-sidebar>
    </div>
  </div>
</div>
